.details {
  &__extra {
    display: block;
    position: absolute;
    width: 100%;

    padding-bottom: $extra-padding-bottom;
    padding-top: $extra-padding-top;

    opacity: 0;
    pointer-events: none;

    left: 0;
    right: 0;
    bottom: $extra-bottom-position;

    font-size: 18px;
    line-height: $extra-details-height;
  }

  &__sport {
  }
}
