.person {
  position: relative;

  transform: scale(1);
  transition: transform 1s;

  padding: 0;

  &__background {
    position: absolute;
    background-color: #fff;
    top: -10px;
    bottom: $extra-bottom-position;
    right: -10px;
    left: -10px;
    border-radius: 10px;
    z-index: -1;
  }

  &:hover {
    z-index: 1;
    transition: transform 1s;

    transform: scale(1.2);

    & .person__background {
      background-color: #eee;
    }

    & .details__extra {
      opacity: 1;
      pointer-events: all;
    }

    & .person__image {
      border-radius: 60px;
    }
  }

  &__photo {
    position: relative;
  }

  &__image {
    display: block;
    object-fit: cover;
    object-position: center;

    transition: border-radius 1s;
    border-radius: 50%;

    width: 200px;
    height: 200px;

    padding-bottom: 8px;
  }

  &__rank {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    font-size: 16px;
    line-height: 18.4px;
    font-weight: 700;
    color: #8b0000;
  }

  &__name {
    display: block;

    transform: scale(1);
    transform-origin: top;
    transition: transform 1s;

    font-size: 20px;
    line-height: 23px;
    color: #2f4f4f;
  }
}
